body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.nav-bar {
  background-color: #432818;
  height: 100px;
  border-bottom: 1px solid #ddd;
  align-content: center;
  margin-right: 10px;
}

.nav-list {
  display: flex;
  justify-content: end;
  gap: 40px;
  list-style: none;
  margin-right: 30px;
}

.nav-list > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

#inicio {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px;
}

.article-principal {
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.text-principal {
  max-width: 100%;
  font-size: 52, 67px;
  font-weight: 700;
  line-height: 62, 5px;
}

.text-principal > h1 {
  font-size: 2em;
  color: #432818;
}

.text-principal > h1 > span {
  color: #99582a;
}

.text-principal > h1 > p {
  margin: 20px 0;
  color: #432818;
}
.subtext-principal {
  max-width: 100%;
  font-size: 18px;
  font-weight: 380;
  line-height: 25px;
  color: #432818;
  text-align: justify;
}

.button-group {
  display: flex;
  gap: 20px;
}

.btn-linkedin {
  border: 1px solid #99582a;
  color: #ffffff;
  border-radius: 4px;
  width: 180px;
  background-color: #6f1d1b;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

.btn-github {
  border: 1px solid #432818;
  color: #6f1d1b;
  border-radius: 4px;
  width: 180px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

#inicio > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-left: 100px;
}

h2 {
  font-size: 32px;
  color: #432818;
  margin-top: 60px;
  margin-bottom: 20px;
}

.espaçamento {
  background-color: #6f1d1b;
  width: auto;
  height: 200px;
}

#formacoes {
  max-width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* garante que os elementos fiquem empilhados verticalmente */
  align-items: flex-start; /* alinha o conteúdo à esquerda */
}

#formacoes h2 {
  margin-left: 50px;
  padding: 50px 0 0 50px;
}

#formacoes ul {
  background-color: #faf4eb;
  padding: 0 175px 80px 175px;
  margin-right: auto;
}

#formacoes li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #bb9457;
  padding: 60px 0;
  color: #432818;
}

#formacoes article {
  width: 65%;
}

article > p {
  text-align: justify;
}

#experiencias {
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* garante que os elementos fiquem empilhados verticalmente */
  align-items: flex-start; /* alinha o conteúdo à esquerda */
}

#experiencias ul {
 background-color: #faf4eb;
  padding:0px 375px 80px 375px;
  margin-right: auto;

}

#experiencias h2 {
  margin-left: 50px;
  padding: 50px 0 0 50px;
}

#experiencias li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #bb9457;
  padding: 60px 50px 50px 50px;
  color: #432818;
}

#experiencias article {
  width: 65%;
}

#formulario {
  padding: 0px 50px 50px;
}

#formulario > h2 {
  color: #6f1d1b;
  font-size: 8px;
}

.formulario-contato {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
  color: #432818;
}

.campos-nome-email {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.campo-formulario {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.campo-formulario > input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #99582a;
  border-radius: 5px;
}

.campo-formulario:nth-child(1) {
  margin-right: 15px;
}

.campo-formulario > textarea {
  font-size: 18px;
  border: 1px solid #99582a;
  border-radius: 5px;
  width: auto;
  padding: 10px;
}

.campo-formulario > label {
  font-size: 18px;
  margin-bottom: 10px;
}

.btn-enviar {
  background-color: #bb9457;
  padding: 15px;
  color: #432818;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

.rodape {
  background-color: #432818;
  width: 100%;
  height: 270px;
  padding-top: 50px;
  color: #ffffff;
  font-weight: 400;
}

.rodape > span {
  margin-left: 40px;
}
